# Created by .ignore support plugin (hsz.mobi)
/OldVersions/
/Draw_Energy_Diagram_XML_SupportMECP.py
.idea/
__pycache__/
*_Create_Symlink.bat
/TEMP/
/UI/Draw_Energy_Diagram_Icon.psd
Config.ini
/Examples/Github说明作图.pptx
/Pyinstaller_Packing/
/.venv/
*.spec
/Pyinstaller_Extract_Test/
~$*