[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyinstaller = "*"
matplotlib = "*"
openpyxl = "*"
pypiwin32 = "*"
pyqt6 = "*"

[dev-packages]

[requires]
python_version = "3.9"
